###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site

# Ignore the src folder because it's included in the CI instead
src/
.vs/
.vscode/

# Ignore other folders build script might create
gh-pages/
tools/