.toc .level1 > li {
  font-size: 17px;
}

.toc ul {
  font-size: 14px;
}

.toc .level2 {
  font-size: 16px;
}

.toc .level3 {
  margin-left: 10px;
}

.toc .nav > li > a {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.toc .nav > li > a:hover {
  background-color: #171717;
  border-radius: 2px;
}

.toc .level2 {
  margin-left: 25px;
}

.toc .nav.level3 > li > a {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

h2 {
  margin-top: 45px !important;
  margin-bottom: 0.8rem !important;
}

p {
  line-height: 1.7rem;
  word-spacing: .06rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.version-selector {
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.version-selector form {
  display: inline-block;
}

.version-selector select {
  background-color: #080808;
}

.footer {
  background-color: #222;
  border-top-color: #333;
}

button,
a {
  color: #488ecb;
}

html,
body {
  font-size: 16px;
}

body {
  background-color: #111;
  color: #dcdcdc;
}

.sidefilter,
.sidetoc {
  background-color: #222;
  border-left-color: #333;
  border-right-color: #333;
}

body .toc {
  background-color: #222;
  color: white !important;
}

.toc .nav > li > a {
  color: #dadada;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: #ffffff;
}

.toc-filter {
  background-color: #111;
  color: white;
}

.toc-filter > input {
  background-color: #111;
  color: #cfcfcf;
}

.toc-filter > input::placeholder {
  color: #cfcfcf;
}

.affix ul > li > a {
  color: #eaeaea;
}

.affix ul > li > a:hover {
  color: white;
}

pre {
  background-color: #1e1e1e;
  border-color: #1a1d22;
}

code {
  background-color: #080808;
}

.sidenav,
.fixed_header,
.toc {
  background-color: #222;
}

.alert {
  border-left-style: none;
  border-right-style: none;
  border-radius: 0px;
  border-width: 4px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.alert-danger,
.alert-info,
.alert-warning {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.alert-danger {
  border-color: #e00000;
}

.alert-danger h5 {
  color: #e00000;
}

.alert-info {
  border-color: #2d73e8;
}

.alert-info h5 {
  color: #2d73e8;
}

.alert-warning {
  border-color: #c7a200;
}

.alert-warning h5 {
  color: #c7a200;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #1e1e1e !important;
}

.table-responsive {
  border: none !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #212123;
}

.navbar-default {
  background-color: #222;
  border-color: #080808;
}

.sidefilter,
.sidetoc {
  margin-left: 5%;
  width: 20%;
}

.article.grid-right {
  margin-left: 30%;
}

.tabGroup a[role="tab"][aria-selected="true"] {
  color: #fff;
}

.tabGroup a[role="tab"] {
  color: #ababab;
}

.tabGroup section[role="tabpanel"] {
  border-color: #292929;
}



@media (max-width: 991px) and (min-width: 768px) {
  .sidefilter,
  .sidetoc {
    margin-left: 0;
    width: 230px;
  }

  .article.grid-right {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .article.grid-right {
    margin-left: 0px;
  }
  .sidefilter,
  .sidetoc {
    margin-left: 0;
    width: auto;
  }

  .version-selector {
    display: block;
    float: none;
  }
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1e1e1e;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569cd6;
}
.hljs-link {
  color: #569cd6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4ec9b0;
}

.hljs-number,
.hljs-class {
  color: #b8d7a3;
}

.hljs-string,
.hljs-meta-string {
  color: #d69d85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9a5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #dcdcdc;
}

.hljs-comment,
.hljs-quote {
  color: #57a64a;
  font-style: italic;
}

.hljs-doctag {
  color: #608b4e;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9b9b9b;
}

.hljs-variable,
.hljs-template-variable {
  color: #bd63c5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9cdcfe;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
    font-family:'Monospace';
  }*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #d7ba7d;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
